.Table {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: limegreen;
    width: 500px;
    height: 300px;
    border-radius: 20px;
}

.Break {
    background-color: black;
    height: 4px;
}
