.Card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
}

.Top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
}

.Bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: end;
}
